<h2>Register New User</h2>

{{partial "messages"}}

<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="newUserEmail">Email*</label>
    <div class="controls">
      {{input valueBinding="email" type="email" placeholder="Email" id="newUserEmail"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="newUserPassword">Password*</label>
    <div class="controls">
      {{input valueBinding="password" type="password" placeholder="Password" id="newUserPassword"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="userPasswordConfirmation">Password Confirmation*</label>
    <div class="controls">
      {{input valueBinding="password_confirmation" type="password" placeholder="Confirm Password" id="newUserPasswordConfirmation"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" {{action "submit" target="view"}}>Register</button>
    </div>
  </div>
</form>
