<h2>Edit User Details</h2>

{{partial "messages"}}

<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="userEmail">Email*</label>
    <div class="controls">
      {{input valueBinding="email" type="email" placeholder="Email" id="userEmail"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="userPassword">Current Password*</label>
    <div class="controls">
      {{input valueBinding="password" type="password" placeholder="Current Password" id="userPassword"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="userNewPassword">New Password*</label>
    <div class="controls">
      {{input valueBinding="new_password" type="password" placeholder="New Password" id="userNewPassword"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="userNewPasswordConfirmation">New Password Confirmation*</label>
    <div class="controls">
      {{input valueBinding="new_password_confirmation" type="password" placeholder="Confirm New Password" id="userNewPasswordConfirmation"}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      {{input class="btn btn-primary" type="submit" value="Update"}}
    </div>
  </div>
</form>

<a href="#" {{action "cancel"}}>Cancel</a>
