<div class="fluid-row">
  <div class="span12">
    <div id="top-bar" class="well well-small">

      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span>
            <i class="icon icon-download-alt"></i>
            Export in RDF/N3
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" {{action "export"}}>Structure</a>
          </li>
          <li>
            <a href="#" {{action "exportVisual"}}>Structure + Visual Data</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#" {{action "exportVocabulary"}}>Vocabulary</a>
          </li>
        </ul>
      </div>
      

      <div class="edition-buttons">
        <div class="states">
          <span>Select Edition Mode:</span>
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn hand active" title="Edition Mode" {{action "changeMode" "Hand"}}>
              <i class="icon-hand-up"></i>
            </button>
            <button type="button" class="btn actor" title="Add Actor" {{action "changeMode" "Actor"}}>
              <i class="icon-plus-sign"></i>
            </button>
            <button type="button" class="btn relation" title="Add Relation" {{action "changeMode" "Relation"}}>
              <i class="icon-stop"></i>
            </button>
            <button type="button" class="btn role" title="Add Roles" {{action "changeMode" "Role"}}>
              <i class="icon-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="zoom-buttons">
          <div class="btn-group">
            <button type="button" class="btn" title="Zoom In"><i class="icon-zoom-in"></i></button>
            <button type="button" class="btn" title="Reset Zoom"><i class="icon-screenshot"></i></button>
            <button type="button" class="btn" title="Zoom Out"><i class="icon-zoom-out"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
