<div class="fluid-row">
  <div class="span12">
    <div id="top-bar" class="well well-small">
      {{#linkTo "social_networks"}}Social Networks{{/linkTo}}
      <a href="#" {{action "logout"}}>Log Out</a>

      <!--TODO: show this buttons only when the social network show page is rendered-->
      <div class="edition-buttons">
        <div class="states">
          <span>Select Edition Mode:</span>
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn hand active" title="Edition Mode" {{action "changeMode" "Hand"}}>
              <i class="icon-hand-up"></i>
            </button>
            <button type="button" class="btn actor" title="Add Actor" {{action "changeMode" "Actor"}}>
              <i class="icon-plus-sign"></i>
            </button>
            <button type="button" class="btn relation" title="Add Relation" {{action "changeMode" "Relation"}}>
              <i class="icon-stop"></i>
            </button>
            <button type="button" class="btn role" title="Add Roles" {{action "changeMode" "Role"}}>
              <i class="icon-arrow-right"></i>
            </button>
          </div>
        </div>

        <div class="zoom-buttons">
          <div class="btn-group">
            <button type="button" class="btn" title="Zoom In"><i class="icon-zoom-in"></i></button>
            <button type="button" class="btn" title="Reset Zoom"><i class="icon-screenshot"></i></button>
            <button type="button" class="btn" title="Zoom Out"><i class="icon-zoom-out"></i></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
