Actors

{{#each actor in controller itemController="actor"}}
  <div class="actor">
    {{#if actor.isNew}}
      {{view Ember.TextField valueBinding="actor.name" action="save"}}
    {{else}}
      {{#if actor.isEditing}}
        {{view Ember.TextField valueBinding="actor.name" action="save"}}
        <button {{action "toggleEditing"}}>Edit</button>
      {{else}}
        {{actor.name}}
        <button {{action "toggleEditing"}}>Edit</button>
        <button {{action "delete"}}>Delete</button>
      {{/if}}
    {{/if}}
  </div>
{{/each}}
