Actors

{{#each actor in controller itemController="actor"}}
  <div class="actor">
    <span>{{actor.name}}</span>
    <div class="details">
      {{#if actor.isNew}}
        {{view Ember.TextField valueBinding="actor.name" action="save"}}
      {{else}}
        {{#if actor.isEditing}}
          {{view Ember.TextField valueBinding="actor.name" action="save"}}
          <button {{action "toggleEditing"}}>Edit</button>
        {{else}}
          <button {{action "toggleEditing"}}>Edit</button>
          <button {{action "delete"}}>Delete</button>
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/each}}
