<button {{action "new"}} class="btn btn-small pull-right">
  <i class="icon-plus-sign"></i> New
</button>

<h4>Families</h4>

<div id="families" class="items_list">
  {{#each family in controller}}
    <div id="family_{{unbound family.id}}" class="item">
      <span class="label" style="background-color: {{unbound family.color}};">
        {{family.name}}
      </span>

      <div class="operations">
        <a href="#" {{action "edit" family}} title="edit" class="edit">
          <i class="icon-edit"></i>
        </a>
        <a href="#" {{action "delete" family}} title="delete" class="delete">
          <i class="icon-trash"></i>
        </a>
      </div>
    </div>
  {{/each}}
</div>

{{#if currentFamily}}
  <h4>New Family</h4>

  <ul>
    <li>
      <strong>Name</strong>
      {{view Ember.TextField valueBinding="currentFamily.name" action="save"}}
    </li>

    <li>
      <strong>Color</strong>
      {{view Ember.TextField valueBinding="currentFamily.color" action="save" id="familyColor"}}
      <script type="text/javascript" charset="utf-8">
        $("#familyColor").colorPicker();
      </script>
    </li>

    <li>
      <strong>Kind</strong>
      {{view Ember.Select contentBinding="App.nodeKinds"
                          valueBinding="currentFamily.kind"
                          prompt="Select Kind"}}
    </li>

    <div class="operations">
      <button {{action "save"}} class="btn btn-primary">
        {{#if currentFamily.isNew}}
          Create
        {{else}}
          Update 
        {{/if}}
      </button>
      <button {{action "cancel"}} class="btn">Cancel</button>
    </div>
  </ul>
{{/if}}

