<h3>Details for {{kind}} #{{id}}</h3>

<form>
  <label>
    Name
    {{view Ember.TextField valueBinding="name" action="save"}}
  </label>

  {{#if isActor}}
    <label>
      Family
      {{view Ember.Select contentBinding="social_network.actorFamilies"
                          optionValuePath="content.id"
                          optionLabelPath="content.name"
                          action="save"
                          selectionBinding="families"
                          multiple="true"}}
    </label>
  {{else}}
    <label>
      Family
      {{view Ember.Select contentBinding="social_network.relationFamilies"
                          optionValuePath="content.id"
                          optionLabelPath="content.name"
                          prompt="Select Family"
                          action="save"
                          valueBinding="family_id"}}
    </label>
  {{/if}}

<form>

<div class="operations">
  <div class="pull-right">
    {{#if isNew}}
      <button class="btn btn-primary" {{action "save"}}>Create</button>
      <button class="btn" {{action "cancel"}}>Cancel</button>
    {{else}}
      <button class="btn btn-primary" {{action "save"}}>Update</button>
      <button class="btn btn-danger" {{action "delete" this}}>Delete</button>
    {{/if}}
  </div>
</div>
