<h3>{{name}} details</h3>
<ul>
  <li>
    <strong>ID:</strong>
    <span>{{id}}</span>
  </li>
  <li>
    <strong>Name:</strong>
    {{#if isEditing}} 
      <span>{{view Ember.TextField valueBinding="name" action="save"}}</span>
    {{else}}
      <span>{{name}}</span>
    {{/if}}
  </li>
  <li>
    <strong>X:</strong>
    <span>{{x}}</span>
  </li>
  <li>
    <strong>Y:</strong>
    <span>{{y}}</span>
  </li>
</ul>

<div class="operations">
  <div class="pull-right">
    {{#if isEditing}}
      <button class="btn" {{action "toggleEditing"}}>Cancel</button>
      <button class="btn btn-primary" {{action "save"}}>Update</button>
    {{else}}
      <button class="btn btn-danger" {{action "delete" this}}>Delete</button>
      <button class="btn" {{action "toggleEditing"}}>Edit</button>
    {{/if}}
  </div>
</div>
