<h3>Details for {{kind}} #{{id}}</h3>

<form>
  <label>
    Name
    {{view Ember.TextField valueBinding="name" action="save"}}
  </label>

    <label id="family_selector">
      Families
      {{#if isActor}}
          {{view Ember.Select contentBinding="social_network.actorFamilies"
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              action="save"
                              selectionBinding="selectedFamilies"
                              multiple="true"}}
      {{else}}
          {{view Ember.Select contentBinding="social_network.relationFamilies"
                              optionValuePath="content.id"
                              optionLabelPath="content.name"
                              action="save"
                              selectionBinding="selectedFamilies"
                              multiple="true"}}
      {{/if}}
      <span class="help-block">You can select multiple familis holding the Ctrl key on windows or Command in mac while clicking the families</span>
    </label>

<form>

<div class="operations">
  <div class="pull-right">
    {{#if isNew}}
      <button class="btn btn-primary" {{action "save"}}>Create</button>
      <button class="btn" {{action "cancel"}}>Cancel</button>
    {{else}}
      <button class="btn btn-primary" {{action "save"}}>Update</button>
      <button class="btn btn-danger" {{action "delete" this}}>Delete</button>
    {{/if}}
  </div>
</div>
