<h3>Details for {{kind}} #{{id}}</h3>

<form>
  <label>
    Name
    {{view Ember.TextField valueBinding="name" action="save"}}
  </label>

  <label>
    Family
    <!-- TODO: handle case when family is already set -->
    {{view Ember.Select contentBinding="social_network.families"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        prompt="Select Family"
                        action="save"
                        valueBinding="family_id"}}
  </label>
<form>

<div class="operations">
  <div class="pull-right">
    <button class="btn btn-primary" {{action "save"}}>Update</button>
    <button class="btn btn-danger" {{action "delete" this}}>Delete</button>
  </div>
</div>
