<div class="fluid-row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/"><i class="icon-home"></i></a> <span class="divider">/</span></li>
      <li>{{#linkTo "social_networks"}}Social Networks{{/linkTo}} <span class="divider">/</span></li>
      <li class="active">{{name}}</li>
      <li class="pull-right"><a href="/social_networks/{{unbound id}}.json" target="_blank">API View</a></li>
    </ul>
  </div>
</div>

<div class="fluid-row">
  <div class="span3">
    <div class="well well-small">
      <button {{action resetTranslationAndScale target="view"}} class="btn btn-small">
        (0.0)
      </button>
    </div>

    {{render "nodes" nodes}}
  </div>
  <div class="span9">
    <svg id="graph_canvas" data-social-network-id="{{unbound id}}">
    </svg>
  </div>
</div>
