{{partial "social_networks/edit_menu"}}

<div class="fluid-row">
  <div class="span3">
    <div class="well well-small">
      {{render "families" families}}      
    </div>

    {{render "nodes" nodes}}
    {{render "roles" roles}}
  </div>
  <div class="span9" style="position: relative;">
    <div id="canvas_container">
      <svg id="graph_canvas" {{bindAttr data-social-network-id="id"}}>
      </svg>
      {{view App.CompassView}}
    </div>
  </div>
</div>
