<h1>{{name}}</h1>

<ul>
  {{#each actor in actors itemController="actor"}}
    {{#view App.ActorView contentBinding="actor"}}
      <li>
        <span class="name">{{name}}</span>
        <a href="#" {{action "toggleDetails"}}>Details</a>
        {{#if isShowingDetails}}
          <span class="details">Details for Actor #{{id}}</span>
        {{/if}}
        {{#if isNew}}
          <span>New Actor Form</span>
        {{/if}}
      </li>
    {{/view}}
  {{else}}
    <p>it doesn't have any actors</p>
  {{/each}}
</ul>